$sm =  576px
$md =  768px
$lg =  992px
$xl = 1200px

main
	flex-direction column
	align-items center
	aside.author
		margin-bottom 1rem
		.p-note > :last-child
			margin-bottom 0
		li.list-group-item
			background-color $base01
			text-align center
			> a
				margin-right 1rem
				&:last-child
					margin-right 0
	@media (min-width $md)
		flex-direction row-reverse
		align-items unset
		aside.author
			margin-bottom 0
		ol.entries
			justify-content flex-start
			margin-right 1rem
