{% load jsonify %}{% if crumbs %}
<nav class="breadcrumbs" aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		{% for crumb in crumbs %}
		<li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
		{% endfor %}
		<li class="breadcrumb-item active" aria-current="page">{% firstof current.label title %}</li>
	</ol>
	<script type="application/ld+json">{{ breadcrumb_list | jsonify }}</script>
</nav>
{% endif %}
