{% load activeurl %}{% activeurl %}<ul class="navbar-nav">
	{% for item in items %}
	<li class="nav-item"><a class="nav-link" href="{{ item.url }}">
			<i class="{{ item.icon }} fa-fw"></i>
			{{ item.label }}
	</a></li>
	{% endfor %}
</ul>{% endactiveurl %}
