{% extends 'lemoncurry/layout.html' %}
{% load absolute_url static %}

{% block head %}
<link rel="amphtml" href="{{ entry.amp_url }}" />
<link rel="shortlink" href="{{ entry.short_url }}" />
<link rel="alternate" type="application/json+oembed" href="https://wirres.net/oembed/oembed.php?url={{ uri | absolute_url | urlencode }}" />
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/stylus" href="{% static 'entries/css/h-entry.styl' %}" />
{% endblock %}

{% block main %}
<div class="entry">
{% include 'entries/h-entry.html' %}
</div>
{% endblock %}
