{% extends 'lemoncurry/layout.html' %}
{% load lemonauth_tags static %}

{% block styles %}
<link rel="stylesheet" type="text/stylus" href="{% static 'lemonauth/css/login.styl' %}" />
{% endblock %}

{% block main %}
<div class="container">
	{% if form.errors %}
	<p class="alert alert-danger">
		<strong>Uh oh!</strong> Your username and password didn't match. Please try again.
	</p>
	{% endif %}

	{% if next %}
	{% if user.is_authenticated %}
	<p class="alert alert-warning">
		<strong>Hang on!</strong> Your account doesn't have access to this page. To proceed, please log in to an account that does have access.
	</p>
	{% else %}
	<p class="alert alert-warning">
		<strong>Oops!</strong> Please log in to see this page.
	</p>
	{% endif %}
	{% endif %}

	<form class="card" method="post" action="{% url 'lemonauth:login' %}">
		<div class="card-body">
			{% form_field form.username %}
			{% form_field form.password %}
			{% form_field form.otp_token %}

			<div class="form-group form-check">
				<input id="id_{{ form.otp_trust_agent.name }}" name="{{ form.otp_trust_agent.name }}" class="form-check-input" type="checkbox" />
				<label for="id_{{ form.otp_trust_agent.name }}" class="form-check-label">remember this browser (don't tick this on a public computer!)</label>
			</div>
		</div>

		<div class="card-footer">
			<button class="btn btn-primary" type="submit">
				<i class="fas fa-sign-in-alt"></i>
				log in
			</button>
		</div>

		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>
{% endblock %}
